@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    text-align: center;
    text-decoration: none;
}
.block {
    background-color: #DCDCDC;
    margin: 0px 25%;
    border: 1px solid #A9A9A9;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;
    padding-left: 7px;
    border-radius: 25px;
    margin-bottom: 15px;
    transition-duration: 0.25s;
    color: black;
}
a {
    text-decoration: none;
}
.block:hover {
    background-color: #808080;
    cursor: default;
}
h1 {
    padding: 0px;
    margin: 0px;
}
h2 {
    padding: 0px;
    margin: 0px;
}
.image {
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 50%;
}
img {
    width: 150px;
    border-radius: 50%;
}
